<section class="form-section">
  <h1 class="form-title">New Band: </h1>
  <form class="" action="<%= band_url(@band.id) %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <input type="hidden" name="authenticity_token" value="form_authenticity_token">
    <label for="band-name-input">Band Name:</label>
    <input id="band-name-input" type="text" name="bands[name]" value=" <%= @band.name %>">
    <input type="submit" name="" value="submit">
  </form>
</section>
