/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.flex_div {
  display: flex;
}

.sb {
  justify-content: space-between;
}

.sa {
  justify-content: space-around;
}

.middle {
  align-items: center;
}

.border_bottom {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #aaa;
}

.current-user-display{
  display: inline-block;
  margin: auto;
}

.header-box{
  background-color: #b8d8ed;
  padding: 10px;
  border-radius: 5px;
}

.header-box form {
  margin: 5px;
}
